.Header {
    width: 100vw;
    position: fixed;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
}

.Logo {
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    float: left;
    cursor: pointer;
}

.Menu {
    float: right
}

.MenuItem {
    font-size: 18px; 
    padding: 18px;
    margin: 2px;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}

.MenuItem:hover {
    background-color: #ddd;
    color: black;
  }